{% load static%}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}Estoque{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'produtos/style.css' %}">
</head>
<body>
    <header class="topo">
        <a href="{% url 'listar_produtos' %}" class="marca">📦 Estoque</a>
        <span class="auth">
            <a href="{% url 'ver_carrinho' %}"class='btn'>🛒{{item.quantidade}}</a>
            {% if user.is_authenticated %}
                Olá, {{user.username}}
                <form method="post" action="{% url 'logout' %}" style="display: inline;">
                    {%csrf_token%}
                    <button type="submit" class="btn">Sair</button>
                </form>
            {%else%}
                <a href="{% url 'login' %}" class="btn">Entrar</a>
            {%endif%}
        </span>
    </header>

    <main>
        {%if messages%}
            {%for message in messages%}
                <div class="msg">{{message}}</div>
            {%endfor%}
        {%endif%}
        {%block conteudo%}{%endblock%}
    </main>
</body>
</html>