{%extends "produtos/base.html"%}

{% block titulo%}Produtos{% endblock %}

{% block conteudo %}

    <h1>📦Lista de Produtos</h1>
    <p><a class="btn" href="{%url 'criar_produto'%}">Adicionar Produto</a></p>
    <form method="get">
        <label for="categoria"><strong>Filtrar por Categoria:</strong></label>
        <select name="categoria" id="categoria" onchange="this.form.submit()">
            <option value="">Todas</option>
            {% for categoria in categorias %}
                <option value="{{categoria.id}}" {% if categoria.id|stringformat:"s" == categoria_ativa %}selected{% endif %}>{{categoria.nome}}({{categoria.num_produtos}})</option>
            {% endfor %}
        </select>
    </form>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Preço</th>
                <th>Estoque</th>
                <th>Categoria</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
                <tr>
                    <td>{{ produto.nome }}</td>
                    <td>R$ {{ produto.preco }}</td>
                    <td>{{ produto.quantidade }}</td>
                    <td>{{produto.categoria|default:"—"}}</td>
                    <td>
                        <a class="botao_editar" href="{% url 'editar_produto' produto.pk %}">✏️</a>
                        <a class="botao_deletar" href="{% url 'deletar_produto' produto.pk%}">🗑️</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">Nenhum produto cadastrado ainda</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
   
{%endblock%}