{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Produtos</title>
    <link rel="stylesheet" href="{% static 'produtos/style.css' %}">
</head>
<body>
    <h1>📦Lista de Produtos</h1>
    <p><a class="btn" href="{%url 'criar_produto'%}">Adicionar produto</a></p>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Preço</th>
                <th>Estoque</th>
                <th>Categoria</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
                <tr>
                    <td>{{ produto.nome }}</td>
                    <td>R$ {{ produto.preco }}</td>
                    <td>{{ produto.quantidade }}</td>
                    <td>{{produto.categoria|default:"—"}}</td>
                    <td>
                        <a class="botao_editar" href="{% url 'editar_produto' produto.pk %}">✏️</a>
                        <a class="botao_deletar" href="{% url 'deletar_produto' produto.pk%}">🗑️</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">Nenhum produto cadastrado ainda</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
   
</body>
</html>